target/classes/poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d4a51897-0f31-4901-9d59-c6d5e01eec05" >
		<http:listener-connection host="0.0.0.0" port="8081"/>
	</http:listener-config>
	<ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy" doc:id="d4308a1e-0551-43cd-ab0d-a18a68becc91" keyGenerationExpression="#[attributes.queryParams.LOB]">
		<os:private-object-store entryTtl="60" entryTtlUnit="MINUTES" expirationIntervalUnit="DAYS" />
	</ee:object-store-caching-strategy>
	<api-gateway:autodiscovery apiId="19960068" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="1aa77e6e-68d5-4f8b-9a78-40b9f31b8cb9" flowRef="vcoreDashboard" />
	<flow name="vcoreDashboard" doc:id="e73a7a23-0f9e-4e99-a740-fd7e2653d4b0" >
		<http:listener doc:name="Listener" doc:id="617e8075-874d-40c3-99fd-68a0bd75eef9" config-ref="HTTP_Listener_config" path="/vcoredashboard"/>
<!-- [STUDIO:"vcoreDashBoard"]		<http:load-static-resource doc:name="vcoreDashBoard" doc:id="cc417c17-5e21-4567-92bf-9c45f20efb01" resourceBasePath="web\" defaultFile="vcoredashboard.html"/> [STUDIO] -->
		<parse-template doc:name="Parse Template" doc:id="07f0bb04-e23f-439c-949d-fe18f6b33120" location="web/vcoredashboard.html"/>
	</flow>
</mule>
